.mainsection{

}
body{
	display: flex;
	align-items: center;
	justify-content:center;
	background-image: url("calc.png");
	background-repeat:no-repeat;
 	background-size: cover;
 	background-color: #044;
 	font-family: Comic Sans MS;

}
h2{	font-family: Comic Sans MS;
	width: 100%;
	text-align: center;
	color:  white;}


h1{
	font-size: 50px;
	font-family: Comic Sans MS;
	width: 100%;
	text-align: center;
	color:  white;
}
.section1{
	width: 500px;
	min-height: 600px;
	background-color: #fff;
	border-radius:4px;

}
.inputItem{
	text-align: center;
	background-color: #d2fcf2;
	padding:20px;
}
input[type =text]{
	width: 90%;
	padding:12px 20px;
	margin: 30px 0;
	border: 8px solid #044
	border-radius:4px;
	box-sizing: border-box;
	font-size: 20px

}
.check{
text-decoration: line-through;

}

.unCheck{
}

#addtask{
	width: 50%;
	padding:14px 20px;
	margin: 8px 0;
	border: none;
	border-radius:4px;
	color: white;
	background: #044;
	font-size: 20px;
	cursor:pointer;

}

.trash-btn{
	 background-color: #4CAF50;

/*background-image: url(icons8-trash-24.png);*/
}

li:hover{
	background-color: #7bdbc3;

}
#addtask:hover{
	 background-color: #7bdbc3;

}

li{
	list-style-image: url(icons8-checkmark-24.png);
	font-size: 30px;
	font-style: bold;
}

#reset {
	padding:14px 20px;
	margin: 8px 0;
	border: none;
	border-radius:4px;
	color: white;
	background: #044;
	font-size: 20px;
	cursor:pointer;

}

/* Darker background on mouse-over */
#reset:hover {
  background-color: #F86A6A;
}

#dateID {
/*	  text-shadow: 1px 2px blue;
*/	font-size: 20px;
	color: red;
	float: left;
	color: #2a7bad;
	padding: 4px;
	font-family: Comic Sans MS;

}

#timeID {	  
	float: right;
	font-size: 20px;
	color: #2a7bad;
	padding: 4px;
	font-family: Comic Sans MS;

}

